html {
	background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
	background-size:cover;
	font-family:'helvetica neue';
	font-size: 10px;
}

body {
	display:flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

p {
	position: absolute;
	font-size: 2.22em
}

.clock {
	width: 30rem;
	height: 30rem;
	border: 15px solid white;
	border-radius: 50%;
	margin: 0px auto;
	position: absolute;
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
}

.hand {
	width: 45%;
	height: 5px;
	top: 50%;
	left: 5%;
	position: absolute;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0.04, 3.59, 0.58, 1);
	border-radius: 50%;
	opacity: .8;
}

.hour-hand {
	width: 35%;
	left: 15%;
	background: black;
}

.min-hand {
	background: red;
}

.second-hand {
	background: blue;
}

.twelve {
	left: 46%;
	top: -3%;
}

.three {
	right: 3%;
	top: 39%;
}

.six {
	left: 46%;
	bottom: -3%;
}

.nine {
	left: 3%;
	top: 39%;
}
