html {
	background:#018DED url('images/background.jpg');
	background-size:cover;
	font-family:'Open Sans, helvetica neue';
	font-size: 10px;
}

body {
	display:flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

p {
	position: absolute;
	font-size: 2.22em
}

.clock {
	transform: scale(1.8);
	width: 30rem;
	height: 30rem;
	border: 15px solid black;
	border-radius: 50%;
	margin: 0px auto;
	position: absolute;
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
}

.hand {
	width: 45%;
	height: 5px;
	top: 50%;
	left: 5%;
	position: absolute;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0.04, 3.59, 0.58, 1);
	border-radius: 50%;
	opacity: .8;
}

.hour-hand {
	width: 35%;
	left: 15%;
	background: black;
}

.min-hand {
	background: red;
}

.second-hand {
	background: black;
}

.twelve {
	left: 46%;
	top: -3%;
}

.one {
	top: 0%;
	right: 25%;
}

.two {
	right: 8%;
	top: 16%;
}

.three {
	right: 3%;
	top: 39%;
}

.four {
	bottom: 15%;
	right: 10%;
}

.five {
	bottom: 0%;
	right: 26%;
}

.six {
	left: 48%;
	bottom: -6%;
}

.seven {
	bottom: 0%;
	left: 27%;
}

.eight {
	left: 10%;
	bottom: 15%;
}

.nine {
	left: 3%;
	top: 39%;
}

.ten {
	left: 8%;
	top: 18%;
}

.eleven {
	top: 2%;
	left: 24%;
}
